

/*Used throughout CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 85%;
    scroll-behavior: smooth;
}

body { font-family: "Montserrat", sans-serif;
    
/* Headings */


.headings {
    font-size: 3rem;
    color: rgba(107, 115, 133, 0.911);
}
    
}
/* Navbar */

div.container-fluid,
.bg-light,
ul.dropdown-menu.show,
div.modal-header,
div.modal-footer {
    background-color: #983ca086 !important;
}

.navbar-brand {
    font-size: 1.75rem;
}

nav a {
    font-family: sans-serif;
    text-transform:uppercase;
}

/* Footer */

/* About */

