* Global */
* {
    margin: 0;
    padding:0;
    border:0;
}
.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

p {
    font-size: 1.5rem;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Navbar */

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#555555;
    text-align: center;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}
